@media (max-width: 1120px) {
    .home-section .home-text {
        padding: 30px 50px;
    }
    .about-section .about-info {
        padding: 25px 50px;
    }
    .home-section .home-img {
        padding: 50px 0 25px;
    }
    .about-section .about-img {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .nav-menu.open {
        width: 40%;
    }
}

@media (max-width: 780px) {
    .home-section .home-text,
    .home-section .home-img,
    .about-section .about-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-section .about-img {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .home-section .home-img {
        max-width: 90%;
        margin: auto;
    }
    .home-section .home-text,
    .about-section .about-info {
        order: 2;
        text-align: center;
    }
    .about-section .about-tabs {
        padding: 25px 15px 50px;
    }
    .nav-menu.open {
        width: 40%;
    }
    .service-section .service-item,
    .portfolio-section .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .portfolio-popup .pp-main-inner {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .nav-menu.open {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    /* ABOUT SECTION SKILL - EXPERIENCE - EDUCATION */
    .about-section .skills .skill-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    .portfolio-popup .description,
    .portfolio-popup .info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-section .timeline::before {
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) {
        padding: 0 20px 0 75px;
        text-align: left;
        margin-bottom: 15px;
    }
    .about-section .timeline .timeline-item:nth-child(even) {
        padding: 0 20px 0 75px;
        margin-bottom: 15px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon {
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon {
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
        left: -31px;
        right: auto;
    }
    .about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
        left: -31px;
        right: auto;
    }
    /* ABOUT SECTION SKILL - EXPERIENCE - EDUCATION */
    .nav-menu.open {
        width: 100%;
    }
    .service-section .service-item,
    .portfolio-section .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service-section .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    /* .home-section .full-screen {
        padding: 0;
    } */
    .home-section .home-text,
    .home-section .home-img,
    .portfolio-popup .description,
    .portfolio-popup .info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text {
        order: 2;
        text-align: center;
    }
    .home-section .home-text p {
        font-size: 15px;
    }
    .home-section .home-text h2 {
        font-size: 45px;
    }
    .home-section .home-text h1 {
        font-size: 17px;
    }
    .portfolio-popup .pp-main-inner {
        width: 100%;
    }
    .portfolio-section .portfolio-filter {
        padding: 0 2px;
    }
}
